{{page-title "Permissions | Step 1"}}
<LayoutHome>
  <AuBodyContainer
    class="au-u-background-white-100 au-o-flow au-u-margin-left au-u-margin-right au-u-margin-top margin-"
  >
    <div class="au-u-flex au-u-flex--center">
      <div>
        {{#unless this.setup.isRunning}}
          <RdfForm
            @groupClass="au-u-margin-small "
            @form={{this.form}}
            @graphs={{this.model.graphs}}
            @formStore={{this.formStore}}
            @forceShowErrors={{false}}
            @useNewListingLayout={{true}}
            @sourceNode={{this.model.sourceNode}}
          />
        {{/unless}}
        <AuContent @skin="small" class="au-u-flex-self-end">
          <AuButton @icon="arrow-right" iconAlignment="right">Next</AuButton>
        </AuContent>
      </div>
    </div>
  </AuBodyContainer>
</LayoutHome>