{{page-title "Search"}}
<LayoutHome>
  <AuBodyContainer class="au-u-background-white-100 au-o-flow">
    <div class="au-o-grid">
      <div class="au-o-grid__item au-u-1-2@medium">
        <AuHeading @level="2" @skin="4" class="au-u-margin-bottom">You searched
          for</AuHeading>
        <AuFormRow @alignment="inline" class="au-u-margin-top-none">
          <AddressSearch
            @address={{@model.address}}
            @isSearchEnabledInitially={{true}}
            @required={{true}}
            @error={{@model.address.error}}
          >
            <:commonInput>
              {{#if @model.address.isCountryBelgium}}{{/if}}
            </:commonInput>
          </AddressSearch>
        </AuFormRow>
      </div>
      <div class="au-o-grid__item au-u-1-2@medium">
        <AuButton>Existing permissions for this property</AuButton>
      </div>
    </div>
    <AuAlert
      class="au-u-margin-top"
      @title="This adres has a cultural heritage site"
      @skin="success"
      @icon="check"
    />

    <div class="au-u-margin-top au-u-margin-left">
      <AuHeading @level="6" @skin="6" class="au-u-margin-bottom">Monument data</AuHeading>
      <div class="au-o-grid">

        <div
          class="au-o-grid__item au-u-1-2@medium au-u-background-gray-100"
        >Monument data</div>
        <div class="au-o-grid__item au-u-1-2@medium">
          <LeafletMap
            @lat="50.858420478352606"
            @lng="4.3568442738185125"
            @zoom="18"
            class="map"
            as |layers|
          >
            <layers.tile
              @url="https://tile.openstreetmap.org/{z}/{x}/{y}.png"
            />
            <layers.marker
              @lat="50.858420478352606"
              @lng="4.3568442738185125"
              as |marker|
            />
          </LeafletMap>

        </div>
      </div>
    </div>

  </AuBodyContainer>
</LayoutHome>